			<div id="branding">
	        
				<h1 id="site-name">
					
					<a href="{% url 'index' %}">

						Unitas Document Management
					
					</a>

				</h1>
	        
	        </div>



	        <div id="user-tools">
            
                Welcome,
                
                <strong>

                	<!-- TODO -->
                	<a 
                		href="/unitas/userprofile/{{auth_user.username}}/" 
                		title="Click on username to go to user's profile page."
                	>
                	
                		{{ auth_user.username }}

                	</a>

                </strong>.
				
				<a href="{% url 'logout' %}">
					
					Log out
				
				</a>
            
       	 	</div>

       	 	{% if auth_user.is_superuser %}

       	 		<div id="user-tools">
	        	
	        		<!-- TODO -->
	        		<a href="/unitas/admin/" title="For superusers only">
	        			
	        			Admin Console
	        		
	        		</a>
	        
	        	</div>
	        
	        {% endif %}

	        {% if auth_user.username == 'admin' %}
	        
	        <div id="user-tools">
	        	
	        	<a 
	        		href="/admin/" 

	        		title="For admin user only"

	        		onclick="return confirm('Be aware that no changes should be made to the system in the Model Browser module except those that are absolutely necessary.')">
	        		
	        		Model Browser
	        	
	        	</a>
	        
	        </div>
	        
	        {% endif %}