	<head>
		
		<link 
			rel="stylesheet" 
			type="text/css" 
			href="/static/admin/css/base.css" 
		/>
		
		<link 
			rel="stylesheet" 
			type="text/css" 
			href="/static/admin/css/dashboard.css" 
		/>

	</head>