<!DOCTYPE html>
<html>
	
	{% include 'web/common/head.html' %}
	
	<body class=" dashboard" data-admin-utc-offset="0">

	<div id="container">

	    <div id="header">
	        
	        {% include 'web/common/header.html' %}
	    
	    </div>

	    <div id="content" class="content-container" style="width:90%">

	    		{% include 'web/common/toplinks.html' %}

	    </div>