			<div class="app-repository module">
		        
		        <table>
			        
			        <caption style="width:800px;">
			            
			            All Versions for 

			            	{{current_document.name}}

			            <span style="float:right;">

			            	<!--
				            <a 
				            	href="/unitas/folder/{{current_folder.uuid}}/" 
				            	class="section" title="Current Folder"
				            >
				        	-->

				        	<a 
				        		href="{% url 'document_properties_view' document_id=current_document.uuid %}" 

				        		class="section" 

				        		title="Current Document"
				        	>

				            	Return to Document Properties

				            </a>
			        	
			        	</span>
			        
			        </caption>
			        		    	
		    	</table>
	    	
	    	</div>

	    	<div style="float:left;">
	    		
	    		<h3>Version History</h3>
	    		
	    		<table>

	    			{% for version in version_list %}

	    				<tr>
	    					<th>Version Number</th>
	    					<td>{{version.version}}</td>
	    				</tr>

	    				<tr>
	    					<th>Created</th>
	    					<td>{{version.created}}</td>
	    				</tr>

	    				<tr>
	    					<th>Comment</th>
	    					{% if version.comment %}

	    						<td>{{version.comment}}</td>

	    					{% else %}

	    						<td>None</td>

	    					{% endif %}
	    				</tr>

	    				<tr>
	    					<th></th>
	    					<td>
	    						<a href="/unitas/version/{{version.uuid}}/download/">
	    							Download Version
	    						</a>
	    					</td>
	    				</tr>

	    				<tr>
	    					<td></td><td></td>
	    				</tr>

	    			{% endfor %}
	    			
	    		</table>
	    		
	    	</div>

	    	<div style="float:left; margin-left:100px;">
	    		
	    		<h3>Available Actions</h3>
	    		
	    		<table>

	    			{% if document_is_previewable %}
	    			
		    			<tr>
		    				
		    				<td>
		    					
		    					<!-- TODO -->
		    					<a href="/unitas/document/{{current_document.uuid}}/preview/">
		    					
		    						Preview

		    					</a>
		    				
		    				</td>
		    			
		    			</tr>

	    			{% endif %}
	    			
	    			{% if not current_document.is_shared %}
	    			<tr>
	    				
	    				<td>
	    					
	    					<a 

	    						href="/unitas/document/{{current_document.uuid}}/share/" 

	    						title="Share documents with others. Places document in Shared Documents folder."

	    						onclick="return confirm('This will cause the document to be shared with everyone who has an account.')"
	    					>

	    						Share Document
	    					
	    					</a>
	    				
	    				</td>
	    			
	    			</tr>
	    			{% endif %}
	    			
	    			{% if current_document.owner == auth_user %}
	    			<tr>
	    				
	    				<td>
	    					
	    					<a href="/unitas/document/{{current_document.uuid}}/upload/">
	    						
	    						Upload New Version
	    					
	    					</a>
	    				
	    				</td>

	    			</tr>
	    			{% endif %}
	    			
	    			<tr>
	    				
	    				<td>
	    					
	    					<!-- TODO -->
	    					<a href="/unitas/document/{{current_document.uuid}}/download/">

	    						Download Latest Version
	    					
	    					</a>
	    				
	    				</td>
	    			
	    			</tr>
	    			
	    			{% if document_exportable_as_pdf %}

		    			<tr>
		    				
		    				<td>
		    					
		    					<!-- TODO -->
		    					<a href="/unitas/document/{{current_document.uuid}}/export/pdf/">

		    						Export as PDF
		    					
		    					</a>
		    				
		    				</td>
		    			
		    			</tr>
	    			
	    			{% endif %}

	    			{% if current_document.owner == auth_user %}
	    			<tr>
	    				
	    				<td>
	    					
	    					<!-- TODO -->
	    					<a href="/unitas/document/{{current_document.uuid}}/versions/">
	    						
	    						All Versions 
	    					
	    					</a>
	    				
	    				</td>
	    			
	    			</tr>
	    			{% endif %}
	    	
	    	</div>