					{% for document in document_list %}
			        <tr>
			        	
			        	<td style="vertical-align:middle;">
			        		
			        		<!-- TODO -->
			        		<a 
			        			href="/unitas/document/{{document.uuid}}/properties/">
			        			
			        			{% load staticfiles %}
			        			
			        			<img 
			        				src="{% static 'img/icons/Document-01-128.png' %}" 
			        				height="64"
			        			>
			        		
			        		</a>

			        	</td>
			        	
			        	<td style="vertical-align:middle;font-size:13.5px;">
			        		
			        		<!-- TODO -->
			        		<a 
			        			href="/unitas/document/{{document.uuid}}/properties/"
			        		>
			        			
			        			{{document.name}}
			        		
			        		</a>

			        	</td>
			        	
			        	<td 
			        		style="
			        			vertical-align:	middle;
			        			overflow:		hidden;
								word-wrap:		break-word;
								white-space:  	normal;
								min-width: 		300px;
								padding-right:	25px;
			        	">
			        		
			        		<strong>Title:</strong> 

			        		{% if document.title %}

			        			{{document.title}}

			        		{% else %}

			        			None

			        		{% endif %}

			        		<br>
			        		
			        		<strong>Description:</strong> 

			        		{% if document.description %}

			        			{{document.description}}

			        		{% else %}

			        			None

			        		{% endif %}
			        		
			        		<br>
			        		
			        		<strong>Created:</strong> 

			        		{{document.created}}
			        		
			        		<br>
			        		
			        		<strong>Owner:</strong>

			        		{{document.owner}}
			        	
			        	</td>
			        	
			        	<td style="vertical-align:middle;">
			        		
			        		<a 
			        			href="{% url 'document_properties_view' document_id=document.uuid %}"
			        			title="View document properties"
			        		>

			        			<img 
			        				src="{% static 'img/icons/Properties-128.png' %}" 
			        				height="32"
			        			>
			        		
			        		</a>
			        	</td>
			        		{% if not is_shared_docs_view %}

				        		{% if not document.is_system %}

				        			{% if current_folder_in_trashcan_path %}
				        				
				        				<td style="vertical-align:middle;">
				        				
					        				<a 
							        			href="/unitas/document/{{document.uuid}}/restore/" 
							        			
							        			title="Restore document"
							        			
							        			onclick="return confirm('Clicking OK will place this document in your clipboard. To finish restoring, go to the target folder and click the Paste Folder/Doc action.')"
							        		>
					        			
					        					<img 
					        						src="{% static 'img/icons/Restore-128.png' %}" 
					        						height="32"
					        					>
					        		
					        				</a>
				        				
				        				</td>

				        				<td style="vertical-align:middle;">
				        				
					        				<a 
							        			href="/unitas/document/{{document.uuid}}/delete/force/" 
							        			
							        			title="Force delete document"
							        			
							        			onclick="return confirm('Clicking OK will permanently delete this document.')"
							        		>
					        			
					        					<img 
					        						src="{% static 'img/icons/Document-Delete-02-128.png' %}" 

					        						height="32"
					        					>
					        		
					        				</a>

				        				</td>

				        			{% else %}
				        			
				        				<td style="vertical-align:middle;">
							        		<a 

							        			href="{% url 'delete_document_view' document_id=document.uuid %}" 
							        			
							        			title="Delete document"

							        			onclick="return confirm('This will place {{document.name}} in your trashcan. Click yes to confirm.');"
							        		>

							        			<img 
							        				src="{% static 'img/icons/Trashcan-128.png' %}" 
							        				height="32"
							        			>
							        		
							        		</a>

						        		</td>

						        		<td style="vertical-align:middle;">
						        			{% if not document.is_shared %}
								        		<a 
								        			href="/unitas/document/{{document.uuid}}/share/" 

								        			title="Share document with others. Places document in Shared Documents folder."

								        			onclick="return confirm('This will cause the document to be shared with everyone who has an account.')"
								        		>

								        			<img 
								        				src="{% static 'img/icons/Share-03-128.png' %}" 
								        				height="32"
								        			>

								        		</a>

								        	{% else %}

								        		<a 
								        			href="/unitas/document/{{document.uuid}}/unshare/" 

								        			title="Un-Share Document. Remove document from Shared Documents folder."

								        			onclick="return confirm('This will cause the document to no longer be shared in Shared Documents folder.')"
								        		>

								        			<img 
								        				src="{% static 'img/icons/Closed-128.png' %}" 
								        				height="32"
								        			>

								        		</a>


							        		{% endif %}

						        		</td>

						        		<td style="vertical-align:middle;">
							        		
							        		<a
					        					href="{% url 'edit_document_view' document_id=document.uuid %}"
					        					
					        					title="Edit Document Properties"
					        				>

					        					<img 
					        						src="{% static 'img/icons/Document-Edit-128.png'%}" 

					        						height="32"
					        					>

					        				</a>

				        				</td>

						        	{% endif %}

						        	{% if not current_folder_in_trashcan_path %}

							        	<td style="vertical-align:middle;">
							        		
							        		<a 

							        			href="/unitas/document/{{document.uuid}}/copy/"

							        			title="Copy Document (Puts document in clipboard)"
							        		>

							        			<img src="{% static 'img/icons/Copy-128.png' %}" height="32">

							        		</a>

							        	</td>

							        	<td style="vertical-align:middle;">
							        		
							        		<a 

							        			href="/unitas/document/{{document.uuid}}/move/"

							        			title="Move Document (Puts document in clipboard)"
							        		>
							        			
							        			<img src="{% static 'img/icons/Cut-128.png' %}" height="32">
							        			
							        		</a>

							        	</td>

						        	{% endif %}
				        		
				        		{% endif %}

			        		{% endif %}
			        		
			        </tr>
			        {% endfor %}