			<div class="app-repository module">
		        
		        <table>
			        
			        <caption style="width:800px;">
			            
			            Document Properties for 

			            	{{current_document.name}}

			            <span style="float:right;">

			            	<!--
				            <a 
				            	href="/unitas/folder/{{current_folder.uuid}}/" 
				            	class="section" title="Current Folder"
				            >
				        	-->

				        	<a 
				        		href="{% url 'folder_view' folder_id=current_folder.uuid %}" 

				        		class="section" 

				        		title="Current Folder"
				        	>

				            	Return to Parent Folder

				            </a>
			        	
			        	</span>
			        
			        </caption>
			        		    	
		    	</table>
	    	
	    	</div>

	    	<div style="float:left;">
	    		
	    		<h3>Properties</h3>
	    		
	    		<table>
	    			
	    			<tr>
	    				<th>UUID:</th>
	    				<td>{{current_document.uuid}}</td>
	    			</tr>
	    			
	    			<tr>
	    				<th>Name:</th>
	    				<td>{{current_document.name}}</td>
	    			</tr>
	    			
	    			<tr>
	    				<th>MimeType:</th>
	    				<td>{{current_document.mime_type}}</td>
	    			</tr>
	    			
	    			<tr>
	    				<th>File Size:</th>
	    				<td>{{content_file.file.size|filesizeformat}}</td>
	    			</tr>

	    			<tr>
	    				<th>Owner:</th>
	    				<td>{{current_document.owner}}</td>
	    			</tr>
	    			
	    			<tr>
	    				<th>Title:</th>
	    				<td
	    					style="
	    						overflow:		hidden;
								word-wrap:		break-word;
								white-space:  	normal;
								min-width: 		100px;
								padding-right:	25px;
	    				">
	    					{% if current_document.title %}
	    					
	    						{{current_document.title}}</td>
	    				
	    					{% else %}
	    					
	    						None
	    				
	    					{% endif %}
	    				</td>
	    			</tr>
	    			
	    			<tr>
	    				<th>Description:</th>
	    				
	    				<td
	    					style="
	    						overflow:		hidden;
								word-wrap:		break-word;
								white-space:  	normal;
								min-width: 		50px;
								max-width:		400px;
								padding-right:	25px;
	    				">
	    					{% if current_document.description %}
	    					
	    						{{current_document.description}}</td>
	    				
	    					{% else %}
	    					
	    						None
	    				
	    					{% endif %}

	    				</td>
	    			
	    			</tr>
	    			
	    			<tr>
	    				<th>Created:</th>
	    				<td>{{current_document.created}}</td>
	    			</tr>
	    			
	    			<tr>
	    				<th>Last Modified:</th>
	    				<td>{{current_document.modified}}</td>
	    			</tr>
	    			
	    			<tr>
	    				<th>Parent Folder:</th>
	    				<td>{{current_document.parent_folder}}</td>
	    			</tr>

	    			{% if current_document.owner == auth_user %}
		    			<tr>
		    				<td></td>
		    				<td>
		    					<!-- TODO -->
		    					<a href="/unitas/document/{{current_document.uuid}}/edit/">

		    						Edit Document Properties

		    					</a>
		    				</td>
		    			</tr>
	    			{% endif %}

	    		</table>
	    		
	    	</div>

	    	<div style="float:left; margin-left:100px;">
	    		
	    		<h3>Available Actions</h3>
	    		
	    		<table>

	    			{% if document_is_previewable %}
	    			
		    			<tr>
		    				
		    				<td>
		    					
		    					<!-- TODO -->
		    					<a href="/unitas/document/{{current_document.uuid}}/preview/">
		    					
		    						Preview

		    					</a>
		    				
		    				</td>
		    			
		    			</tr>

	    			{% endif %}
	    			
	    			{% if not current_document.is_shared %}
	    			<tr>
	    				
	    				<td>
	    					
	    					<a 

	    						href="/unitas/document/{{current_document.uuid}}/share/" 

	    						title="Share documents with others. Places document in Shared Documents folder."

	    						onclick="return confirm('This will cause the document to be shared with everyone who has an account.')"
	    					>

	    						Share Document
	    					
	    					</a>
	    				
	    				</td>
	    			
	    			</tr>
	    			{% endif %}
	    			
	    			{% if current_document.owner == auth_user %}
	    			<tr>
	    				
	    				<td>
	    					
	    					<a href="/unitas/document/{{current_document.uuid}}/upload/">
	    						
	    						Upload New Version
	    					
	    					</a>
	    				
	    				</td>

	    			</tr>
	    			{% endif %}
	    			
	    			<tr>
	    				
	    				<td>
	    					
	    					<!-- TODO -->
	    					<a href="/unitas/document/{{current_document.uuid}}/download/">

	    						Download Latest Version
	    					
	    					</a>
	    				
	    				</td>
	    			
	    			</tr>
	    			
	    			{% if document_exportable_as_pdf %}

		    			<tr>
		    				
		    				<td>
		    					
		    					<!-- TODO -->
		    					<a href="/unitas/document/{{current_document.uuid}}/export/pdf/">

		    						Export as PDF
		    					
		    					</a>
		    				
		    				</td>
		    			
		    			</tr>
	    			
	    			{% endif %}

	    			{% if current_document.owner == auth_user %}
	    			<tr>
	    				
	    				<td>
	    					
	    					<!-- TODO -->
	    					<a href="/unitas/document/{{current_document.uuid}}/versions/">
	    						
	    						All Versions 
	    					
	    					</a>
	    				
	    				</td>
	    			
	    			</tr>
	    			{% endif %}
	    	
	    	</div>