			<div class="app-repository module">
		        
		        <table>
			        
			        <caption style="width:800px;">
			            
			            Folder Properties and Details for 

			            	{{current_folder}}

			            <span style="float:right;">

				        	<a 
					        	href="{% url 'folder_view' folder_id=current_folder.parent_folder.uuid %}"

					        	class="section" 
					        	
					        	title="Current Folder"
				        	>

				            	Return to Parent Folder

				            </a>
			        	
			        	</span>
			        
			        </caption>
			        		    	
		    	</table>
	    	
	    	</div>

	    	<div>
	    		
	    		<table>
	    			
	    			<tr>
	    				<th>UUID:</th>
	    				<td>{{current_folder.uuid}}</td>
	    			</tr>
	    			
	    			<tr>
	    				<th>Name:</th>
	    				<td>{{current_folder.name}}</td>
	    			</tr>
	    			
	    			<tr>
	    				<th>Owner:</th>
	    				<td>{{current_folder.owner}}</td>
	    			</tr>
	    			
	    			<tr>
	    				
	    				<th>Title:</th>
	    				
	    				<td
	    					style="
	    						overflow:		hidden;
								word-wrap:		break-word;
								white-space:  	normal;
								min-width: 		100px;
								padding-right:	25px;
	    				">
	    				
	    					{% if current_folder.title %}
	    					
	    						{{current_folder.title}}
	    				
	    					{% else %}
	    					
	    						<em>None</em>
	    				
	    					{% endif %}
	    				</td>
	    			
	    			</tr>
	    			
	    			<tr>
	    				
	    				<th>Description:</th>
	    				
	    				<td
	    					style="
	    						overflow:		hidden;
								word-wrap:		break-word;
								white-space:  	normal;
								min-width: 		50px;
								max-width:		400px;
								padding-right:	25px;
	    				">

	    					{% if current_folder.description %}
	    					
	    						{{current_folder.description}}
	    				
	    					{% else %}
	    					
	    						<em>None</em>
	    				
	    					{% endif %}

	    				</td>
	    			
	    			</tr>

	    			<tr>
	    				<th>Created:</th>
	    				<td>{{current_folder.created}}</td>
	    			</tr>
	    			
	    			<tr>
	    				<th>Last Modified:</th>
	    				<td>{{current_folder.modified}}</td>
	    			</tr>
	    			
	    			<tr>
	    				<th>Parent Folder:</th>
	    				<td>{{current_folder.parent_folder}}</td>
	    			</tr>

	    			<tr>
	    				
	    				<td></td>
	    				
	    				<td>
	    					
	    					{% if not current_folder.is_system %}
		    					
		    					<!-- TODO -->
		    					<a href="/unitas/folder/{{current_folder.uuid}}/edit/">

		    						Edit Folder Properties

		    					</a>

	    					{% endif %}
	    				
	    				</td>

	    		</table>
	    		
	    	</div>