					<tr>

						<th style="text-align:left; vertical-align:middle;">
						</th>
						
						<th style="vertical-align:middle;">
							Name
						</th>
						
						<th 
							style="vertical-align:	middle;">
							Info
						</th>
						
						<th style="vertical-align:middle;">
							Actions
						</th>

					</tr>

					{% for folder in folder_list %}
			        
			        <tr>
			        	
			        	<td style="vertical-align:middle; text-align:left;">

			        		<a href="{% url 'folder_view' folder_id=folder.uuid %}">

			        			{% load staticfiles %}

			        			<img 
			        				src="{% static 'img/icons/Folder-128.png' %}" 
			        				height="64"
			        			>
			        		
			        		</a>
			        	
			        	</td>
			        	
			        	<td 
			        		style="
			        			font-size:13.5px; 
			        			vertical-align:middle;
			        			text-align:left;
			        			vertical-align:	middle;
			        			overflow:		hidden;
								word-wrap:		break-word;
								white-space:  	normal;
								min-width: 		100px;
								padding-right:	25px;
			        	">
			        		
			        		<a href="{% url 'folder_view' folder_id=folder.uuid%}">
			        			
			        			{{folder.name}}
			        		
			        		</a>
			        	
			        	</td>
			        	
			        	<td 
			        		style="
			        			vertical-align:	middle;
			        			overflow:		hidden;
								word-wrap:		break-word;
								white-space:  	normal;
								min-width: 		400px;
								padding-right:	25px;
			        	">
			        		
			        		<strong>Title:</strong> 

			        		{% if folder.title %}
			        			
			        			{{folder.title}}

			        		{% else %}

			        			None

			        		{% endif %}
			        		
			        		<br>
			        		
			        		<strong>Description:</strong> 

			        		{% if folder.description %}
			        		
			        			{{folder.description}}

			        		{% else %}

			        			None

			        		{% endif %}
			        		
			        		<br>
			        		
			        		<strong>Created:</strong> 

			        		{{folder.created}}
			        		
			        		<br>
			        		
			        		<strong>Owner:</strong>

			        		{{folder.owner}}
			        	
			        	</td>
			        	
			        	<td style="vertical-align:middle;">
			        		
			        		<a 

			        			href="{% url 'folder_properties_view' folder_id=folder.uuid %}"

			        			title="View folder properties."
			        		>
			        			
			        			<img 
			        				src="{% static 'img/icons/Properties-128.png' %}" 
			        				height="32"
			        			>
			        		
			        		</a>

			        	</td>
			        		
			        		{% if not folder.is_system %}
			        		
			        			<!--TODO-->
			        			{% if current_folder_in_trashcan_path %}
			        				
			        				<td style="vertical-align:middle;">
			        				
				        				<a 
						        			href="/unitas/folder/{{folder.uuid}}/restore/" 
						        			
						        			title="Restore folder"
						        			
						        			onclick="return confirm('Clicking OK will place this folder in your clipboard. To finish restoring, go to the target folder and click the Paste Folder/Doc action.')"
						        		>
				        			
				        					<img 
				        						src="{% static 'img/icons/Restore-128.png' %}" 
				        						height="32"
				        					>
				        		
				        				</a>

			        				</td>

			        				<td style="vertical-align:middle;">
				        				
				        				<a 
						        			href="/unitas/folder/{{folder.uuid}}/delete/force/" 
						        			
						        			title="Permanently delete folder"
						        			
						        			onclick="return confirm('Clicking OK will permanently delete this folder and all its content.')"
						        		>
				        			
				        					<img 
				        						src="{% static 'img/icons/Folder-Delete-128.png' %}" 
				        						height="32"
				        					>
				        		
				        				</a>

			        				</td>

			        			{% else %}

			        				<td style="vertical-align:middle;">

					        			<a 
						        			href="{% url 'delete_folder_view' folder_id=folder.uuid %}" 
						        			title="Delete folder"
						        			
						        			onclick="return confirm('Clicking OK will place this folder and all its content into your trashcan.')"
						        		>
				        			
				        					<img src="{% static 'img/icons/Trashcan-128.png' %}" height="32">			        		
				        				</a>

			        				</td>

			        				<td style="vertical-align:middle;">
			        				
				        				<a
				        					href="{% url 'edit_folder_view' folder_id=folder.uuid %}"
				        				
				        					title="Edit Folder Properties"
				        				>
				        					<img 
				        						src="{% static 'img/icons/Folder-Edit-128.png'%}" 
				        						height="32"
				        					>

				        				</a>

			        				</td>

			        			{% endif %}

			        			{% if not current_folder_in_trashcan_path %}

				        			<td style="vertical-align:middle;">
							        		<a 

							        			href="/unitas/folder/{{folder.uuid}}/copy/"

							        			title="Copy Folder and contents (Puts folder in clipboard)"
							        		>
							        			<img 
							        				src="{% static 'img/icons/Copy-128.png' %}" 
							        				height="32"
							        			>

							        		</a>
						        	</td>

						        	<td style="vertical-align:middle;">
						        		
						        		<a 

						        			href="/unitas/folder/{{folder.uuid}}/move/"

						        			title="Move Folder and contents (Puts document in clipboard)"
						        		>
						        			<img 
						        				src="{% static 'img/icons/Cut-128.png' %}" 
						        				height="32"
						        			>
						        			
						        		</a>

						        	</td>

					        	{% endif %}
			        		
			        		{% endif %}
			 			        	
			        </tr>
			        {% endfor %}