			<div class="app-repository module" style="width:90%;">
		        
		        <table>
			        
			     {% include 'web/common/folder_view/navigation/folder_nav_trashcan_caption.html' %}
			        
			        {% if folder_list or document_list %}
			        	
			        	{% include 'web/common/folder_view/listing/folder_list.html' %}
			        	
			        	{% include 'web/common/folder_view/listing/document_list.html' %}
			        
			        {% else %}
				        
				        <tr>
				        	
				        	<td>Empty</td>
				        
				        </tr>
			        
			        {% endif %}
		    	
		    	</table>
	    	
	    	</div>