	    	<div class="app-repository module" style="width:90%">
		        
		        <table 
		        	style="
		        		text-align:		left;
		        ">
			        
			     {% include 'web/common/folder_view/navigation/folder_nav_caption.html' %}

			        {% if projects %}
			        	
			        	{% include 'web/common/folder_view/listing/project_list.html' %}
			        
			        {% else %}
				        
				        <tr>
				        	
				        	<td>Empty</td>
				        
				        </tr>
			        
			        {% endif %}
		    	
		    	</table>
	    	
	    	</div>

	    	<div class="pagination">
			    
			    <span class="step-links">
			        
			        {% if projects.has_previous %}
			            
			            <a href="?page={{ projects.previous_page_number }}">

			            	Previous

			            </a>
			        
			        {% endif %}

			        <span class="current">
			            
			            Page {{ projects.number }} of {{ projects.paginator.num_pages }}
			        
			        </span>

			        {% if projects.has_next %}
			            
			            <a href="?page={{ projects.next_page_number }}">
			            	
			            	Next
			            
			            </a>
			        
			        {% endif %}

			        | {{ projects.count }} Total Items
			    
			    </span>
			
			</div>