					<tr>

						<th style="text-align:left; vertical-align:middle;">
						</th>
						
						<th style="vertical-align:middle;">
							Name
						</th>
						
						<th 
							style="vertical-align:	middle;">
							Info
						</th>
						
						<th style="vertical-align:middle;">
							Actions
						</th>

					</tr>

					{% for project in projects %}
			        
			        <tr>
			        	
			        	<td style="vertical-align:middle; text-align:left;">

			        		<a href="{% url 'folder_view' folder_id=project.folder.uuid %}">

			        			{% load staticfiles %}

			        			<img 
			        				src="{% static 'img/icons/Project-128.png' %}" 
			        				height="64"
			        			>
			        		
			        		</a>
			        	
			        	</td>
			        	
			        	<td 
			        		style="
			        			font-size:13.5px; 
			        			vertical-align:middle;
			        			text-align:left;
			        			vertical-align:	middle;
			        			overflow:		hidden;
								word-wrap:		break-word;
								white-space:  	normal;
								min-width: 		100px;
								padding-right:	25px;
			        	">
			        		
			        		<a href="{% url 'folder_view' folder_id=project.folder.uuid%}">
			        			
			        			{{project.name}}
			        		
			        		</a>
			        	
			        	</td>
			        	
			        	<td 
			        		style="
			        			vertical-align:	middle;
			        			overflow:		hidden;
								word-wrap:		break-word;
								white-space:  	normal;
								min-width: 		400px;
								padding-right:	25px;
			        	">

			        		<strong>Type:</strong>

			        			{{ project.ptype }}

			        		<br>
			        		
			        		<strong>Title:</strong> 

			        		{% if project.title %}
			        			
			        			{{project.title}}

			        		{% else %}

			        			None

			        		{% endif %}
			        		
			        		<br>
			        		
			        		<strong>Description:</strong> 

			        		{% if project.description %}
			        		
			        			{{project.description}}

			        		{% else %}

			        			None

			        		{% endif %}
			        		
			        		<br>
			        		
			        		<strong>Created:</strong> 

			        		{{project.created}}
			        		
			        		<br>
			        		
			        		<strong>Owner:</strong>

			        		{{project.owner}}
			        	
			        	</td>
			        	
			        	<td style="vertical-align:middle;">
			        		
			        		<a 
			        			href="/unitas/project/{{ project.uuid }}/manage/"

			        			title="Manage project."
			        		>
			        			
			        			<img 
			        				src="{% static 'img/icons/Properties-128.png' %}" 
			        				height="32"
			        			>
			        		
			        		</a>

			        	</td>

			        	{% if project.owner == auth_user or auth_user.username == 'admin' %}

	        				<td style="vertical-align:middle;">

			        			<a 
			        				href="/unitas/project/{{ project.uuid }}/delete/" 
				        			title="Delete Project"
				        			
				        			onclick="return confirm('Clicking OK will delete this project. All content will go into your trashcan.')"
				        		>
		        			
		        					<img src="{% static 'img/icons/Trashcan-128.png' %}" height="32">			        		
		        				</a>

	        				</td>

        				{% endif %}
		        			
			        </tr>
			        {% endfor %}