<div class="app-repository module">
		        
		        <table>
			        
			        <caption style="width:800px;">
			            
			            Project Properties and Details for 

			            	{{ project.name }}

			            <span style="float:right;">

				        	<a 
					        	href="{% url 'folder_view' folder_id=project.folder.uuid %}"

					        	class="section" 
					        	
					        	title="Current Folder"
				        	>

				            	Return to Project Folder

				            </a>
			        	
			        	</span>
			        
			        </caption>
			        		    	
		    	</table>
	    	
	    	</div>

	    	<div>
	    		
	    		<table>
	    			
	    			<tr>

	    				<th>
	    					Name:
	    				</th>
	    				
	    				<td>
	    					{{ project.name }}
	    				</td>
	    			
	    			</tr>

	    			<tr>

	    				<th>
	    					Type:
	    				</th>
	    				
	    				<td>
	    					{{ project.ptype }}
	    				</td>
	    			
	    			</tr>

	    			<tr>

	    				<th>
	    					Title:
	    				</th>
	    				
	    				<td>

	    					{% if project.title %}
	    						
	    						{{ project.title }}

	    					{% else %}

	    						None

	    					{% endif %}

	    				</td>
	    			
	    			</tr>

	    			<tr>

	    				<th>
	    					Description:
	    				</th>
	    				
	    				<td>

	    					{% if project.description %}
	    						
	    						{{ project.description }}

	    					{% else %}

	    						None

	    					{% endif %}

	    				</td>
	    			
	    			</tr>

	    			<tr>

	    				<th>
	    					Key:
	    				</th>
	    				
	    				<td>

	    					{{ project.key }}
	    					
	    				</td>
	    			
	    			</tr>

	    			<tr>

	    				<th>
	    					Owner:
	    				</th>
	    				
	    				<td>
	    					{{ project.owner }}
	    				</td>
	    			
	    			</tr>

	    			<tr>

	    				<th>
	    					Folder:
	    				</th>
	    				
	    				<td>
	    					<a href="{% url 'folder_view' project.folder.uuid %}">
	    					
	    						{{ project.folder }}

	    					</a>
	    				</td>
	    			
	    			</tr>

	    		</table>


	    		<h3>

	    			<a href="/unitas/project/{{project.uuid}}/members/add/">	
	    				
	    				Add new member

	    			</a>
	    		
	    		</h3>

		    	<h3>Project Managers</h3>

	    		{% if project_managers %}

	    			<ul>
			    	
			    	{% for member in project_managers %}

			    		<li>{{ member.username }}</li>

			    	{% endfor %}

			    	</ul>

			    {% else %}

			    	<p>None</p>

			    {% endif %}

			    <h3>Project Contributors</h3>

	    		{% if project_contributors %}

	    			<ul>
			    	
			    	{% for member in project_contributors %}

			    		<li>{{ member.username }}</li>

			    	{% endfor %}

			    	</ul>

			    {% else %}

			    	<p>None</p>

			    {% endif %}

			    <h3>Project Users</h3>

	    		{% if project_users %}

	    			<ul>
			    	
			    	{% for member in project_users %}

			    		<li>{{ member.username }}</li>

			    	{% endfor %}

			    	</ul>

			    {% else %}

			    	<p>None</p>

			    {% endif %}
	    		
	    	</div>