	    	<div class="app-repository module">
		        
		        <table>
			        			        
			        <tr>
			        	<td>
			        	</td>
			        </tr>
			        
				        
			        <tr>
			        	
			        	<td>
			        		<h1>
			        			Edit Document Properties: {{document.name}}
			        		</h1>
			        	</td>
			        
			        </tr>
			        		    	
		    	</table>
	    	
	    	</div>

	    	<div>
	    		<form action="" method="POST">
		    		{% csrf_token %}
		    		<table>

		    			{{edit_document_form.as_table}}
		    			
		    			<tr>
		    				
		    				<td></td>
		    				<td>

		    					<input type="submit" value="Save"/>

		    					<span style="margin-left:50px;">

		    						<a href="{% url 'folder_view' folder_id=current_folder.uuid %}">

		    							Cancel
		    						
		    						</a>
		    					
		    					</span>
		    				
		    				</td>
		    			
		    			</tr>
		    		
		    		</table>
	    		
	    		</form>
	    	
	    	</div>