					{% load staticfiles %}

					<caption 
						style="
							width:100%;
							min-width:500px;
							vertical-align:top;
							"
					>
			            
			            {% if current_folder.parent_folder and auth_user.is_superuser %}
				            
					            <a  
					            	href="{% url 'folder_view' folder_id=current_folder.parent_folder.uuid %}"
					            	
					            	class="section" title="Current Folder"
					            >
					            	
					    			<img 
					    				src="{% static 'img/icons/Arrowhead-Up-128.png' %}" 
					    				height="16"
					    			>

					    		</a>

					    {% elif current_folder.parent_folder.owner == auth_user %}

					    	<a  
					            	href="{% url 'folder_view' folder_id=current_folder.parent_folder.uuid %}"
					            	
					            	class="section" title="Current Folder"
					            >
					            	
					    			<img 
					    				src="{% static 'img/icons/Arrowhead-Up-128.png' %}" 
					    				height="16"
					    			>

					    		</a>

				        {% endif %}

			            {{current_folder}}
			        
			        </caption>