				<span style="margin-right:50px;">
		    		
		    		<strong>Quick Nav:</strong>
		    		
		    		{% for folder in nav_folders %}

		    			{% if folder.owner.username == 'EVERYBODY' %}
		    				
			    			<a href="{% url 'folder_view' folder_id=folder.uuid %}">
			    					
			    				{{folder.name}}
			    			
			    			</a>
			    				 | 

		    			{% elif auth_user.is_superuser %}

		    				<a href="{% url 'folder_view' folder_id=folder.uuid %}">
			    					
			    				{{folder.name}}
			    			
			    			</a>
			    				 | 

			    		{% elif folder.name == 'Projects' %}

			    			<a href="{% url 'folder_view' folder_id=folder.uuid %}">
			    					
			    				{{folder.name}}
			    			
			    			</a>
			    				 | 

		    			{% endif %}

		    		{% endfor %}
		    			
	    			<a href="{% url 'folder_view' folder_id=user_home_folder_uuid %}">

	    				{{auth_user.username|title}} Home
	    			
	    			</a>
	    			
	    			 | 
	    			
	    			<a href="{% url 'folder_view' folder_id=user_trashcan_folder_uuid %}">
	    				
	    				Trashcan
	    			
	    			</a>
	    		
	    		</span>