				<span>
	        		
	        		<strong>Actions: </strong>

	        		{% if not is_projects_view %}
	        		
		        		<a 
		        			href="{% url 'create_folder_view' folder_id=parent_folder_uuid %}"
		        		>
		        			
		        			Create Folder

		        		</a> |
		        		
		        		<a 
		        			href="{% url 'create_document_view' folder_id=parent_folder_uuid %}">
		        			
		        			Create Document
		        		
		        		</a> | 

	        		{% endif %}
	        		
	        		<a href="/unitas/project/create/">

	        			Create Project

	        		</a> 

	        		{% if is_pastable %}
	        		
		        		 | 

		        		<span style="font-weight:bold;">
		        		<a 
							href="/unitas/folder/{{current_folder.uuid}}/paste/"

							title="Place folder and/or documents in your clipboard in this directory."
						>

							Paste Folder/Doc Here

						</a>
						</span>

					{% endif %}
	        		
	        	</span>