				<span>
	        		
	        		<strong>Actions: </strong>

	        		<a 
	        			href="{% url 'empty_trashcan_folder_view' %}"
	        			
	        			onclick="return confirm('This will delete all folders and documents in your trashcan. Click OK to confirm.')"
	        		>
	        			
	        			Empty Trashcan

	        		</a>

	        	</span>