<html>
	
	{% include 'web/common/login-head.html' %}
	
	<body class="login" data-admin-utc-offset="0">
		
		<div id="container">
			
			<div id="header">
				
				<div id="branding">
					
					<h1>Unitas Document Management Server</h1>
				
				</div>
			
			</div>
			
			<div id="content" class="colM">
				
				<div id="content-main">
					
					<form 
						action="{% url 'login' %}" 
						method="post" 
						accept-charset="utf-8"
					>
					    
					    {% csrf_token %}
					 	
					 	<table>
					    	
					    	{% for field in form %}
						    	
						    	<tr>
						    		
						    		<td>
						        		
						        		<label>{{ field.label }}</label>
						    		
						    		</td>
						    		
						    		<td>
						        		
						        		{% if field.errors %}
						            		
						            		{{ field.errors }}
						        		
						        		{% endif %}
						        		
						        		{{ field }}
						        	
						        	</td>

						    	</tr>

					    	{% endfor %}
					    	
					    	<tr>
					    		
					    		<td></td>
					    		
					    		<td>
					    			
					    			<input 
					    				type="hidden" 
					    				name="next" 
					    				value="{{ next }}" 
					    			/>
					    			
					    			<input 
					    				class="button small" 
					    				type="submit" 
					    				value="Submit"
					    			/>
					    		
					    		</td>
					    	
					    	</tr>
						
						</table>
					
					</form>
				
				</div>
			
			</div>
		
		</div>
	
	</body>

</html>